html

  head
    style
      include css/style.css
      include css/button.css
    title= title

  body
    a(href = "/") Retour
    form(method='POST' action='/modifmonkey/'+Monkeys.id)
      div.form-group
        label(for='Nom') Nom:
          input#Nom.form-control(type='text', placeholder='singes.Nom', name='Nom')
        label(for='Age') Age:
          input#Nom.form-control(type='text', placeholder='singes.Age', name='Age')
        label(for='Race') Race:
          input#Nom.form-control(type='text', placeholder='singes.Race', name='Race')
        label(for='Cage') Cage:
          input#Nom.form-control(type='number', name='Enclos')
      button.btn.btn-primary(type='submit') Remettre au goulag
