html

  head
    style
      include css/style.css
      include css/button.css
      include css/home.css
    title= title

    body
    h1 Monkey Manager 3000 LE manager de singe en ligne
    h2 Que voulez-vous faire ?
    h3 
        li 
          a(href = "/addmonkey") Ajoutez un singe
        li 
          a(href = "/addenclos") Ajoutez un enclot
        li Voir vos singes
        li Abattre un singe
